@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-floating {
  animation: floating 3s ease-in-out infinite;
}

@keyframes rainbowScroll {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}